<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps</title>
</head>
<body>
    <a href="#content" class="skip-link">Skip to content ?</a>

    <!-- Navigation Bar -->
    <nav class="nav">
        <a class="logo-title" href="">La Soleil</a>
        <ul class="nav__list">
            <li class="nav__items"><a href="">Home</a></li>
            <li class="nav__items"><a href="#">Favorite</a></li>
            <li class="nav__items"><a target="_blank" href="https://www.linkedin.com/in/rizki20/">About Us</a></li>
        </ul>
    </nav>

    <div class="menu__mob">
        <div class="icon__menu" id="menu"><a href="#">☰</a></div>
        <div class="logomob">La Soleil</div>
        <div class="logomob">&nbsp;</div>
    </div>

    <nav id="drawer" class="nav__mob">
        <ul class="nav__list__mob">
            <li class="nav__items__mob"><a href="">Home</a></li>
            <li class="nav__items__mob"><a href="#">Favorite</a></li>
            <li class="nav__items__mob"><a target="_blank" href="https://www.linkedin.com/in/rizki20/">About Us</a></li>
        </ul>
    </nav>




    <!-- <header class="header">
        <div class="header__inner">
            <h1 class="header__title">
                La Soleil
            </h1>
        </div>
        <a id="menu" class="header__menu">☰</a>

        <nav id="drawer" class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="#">Home</a></li>
                <li class="nav__item"><a href="#">Favorite</a></li>
                <li class="nav__item"><a href="https://www.linkedin.com/in/rizki20/">About Us</a></li>
            </ul>
        </nav>
    </header> -->




    <!-- Hero Element (Jumbotron Element) -->
    <div class="hero" style="background-image: linear-gradient(rgba(0, 0, 5, .5), rgba(0, 0, 5, .5)), url('images/heros/hero-image_4.jpg');">
        <div class="hero__inner">
            <h1 class="hero__title">La Soleil</h1>
            <p class="hero__tagline">Find the best restaurants only on the best websites.</p>
        </div>
    </div>




    <!-- <div class="hero">
        <div class="hero__inner">
            <h1 class="hero__title">Lorem</h1>
            <p class="hero__tagline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, nisi voluptatum blanditiis ullam ratione aliquam magni aperiam? Qui totam incidunt recusandae aut. Rerum consequuntur nemo pariatur, quae amet excepturi eos?</p>
        </div>
    </div> -->



    
    <!-- Main Content -->
    <main id="content">
        <section class="content">
            <div class="latest">
                <h1>Explore Restaurant</h1>
                <div class="list" id="tes"></div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <p>Copyright © 2021 - La Soleil</p>
    </footer> 
</body>
</html>
