<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps</title>
</head>
<body>
    <!-- Skip to Content  -->
    <a href="#content" class="skip-link">Skip to content ?</a>


    <!-- Navigation Bar -->
    <nav class="nav">
        <a class="logo-title" href="">Le Soleil</a>
        <ul class="nav__list">
            <li class="nav__items"><a href="">Home</a></li>
            <li class="nav__items"><a href="#">Favorite</a></li>
            <li class="nav__items"><a target="_blank" href="https://www.linkedin.com/in/rizki20/">About Us</a></li>
        </ul>
    </nav>

    <div class="menu__mob">
        <div class="icon__menu" id="menu"><a href="#">☰</a></div>
        <div class="">Le Soleil</div>
        <div class="">&nbsp; &nbsp; &nbsp;</div>
    </div>

    <nav id="drawer" class="nav__mob">
        <ul class="nav__list__mob">
            <li class="nav__items__mob"><a href="">Home</a></li>
            <li class="nav__items__mob"><a href="#">Favorite</a></li>
            <li class="nav__items__mob"><a target="_blank" href="https://www.linkedin.com/in/rizki20/">About Us</a></li>
        </ul>
    </nav>


    <!-- Hero Element (Jumbotron Element) -->
    <div class="hero" style="background-image: linear-gradient(rgba(0, 0, 5, .5), rgba(0, 0, 5, .5)), url('images/heros/hero-image_4.jpg');">
        <div class="hero__inner">
            <h1 class="hero__title">Le Soleil</h1>
            <p class="hero__tagline">Temukan restoran terbaik pilihan anda.</p>
        </div>
    </div>
    

    <!-- Main Content -->
    <main id="content">
        <section class="content">
            <div class="latest">
                <h1>Explore Restaurant</h1>
                <div class="list" id="json-data"></div>
            </div>
        </section>
    </main>


    <!-- Footer -->
    <footer>
        <p>Copyright © 2021 - Le Soleil</p>
    </footer> 
</body>
</html>
